<div id="header">
  <a href="">
    <img src="assets/images/logo.png" alt="(logo)" id="main-logo">
  </a>
  <div id="nav-bar">
    <a href="" class="nav-button">Home</a>
    <a href="pokedex" class="nav-button">Pokédex</a>
    <a href="liked" class="nav-button">Liked</a>
    <a href="contacts" class="nav-button">Contacts</a>
  </div>
  <div id="search-bar">
    <input id="search-input" type="text" placeholder="Search pokemon...">
    <a href="pokemon/{{pokemon}}" class="nav-button" id="search-button" (click)="search()">Search</a>
  </div>
</div>
<hr class="line">


<div id="main">
  <router-outlet></router-outlet>
</div>
<hr class="line">


<div id="footer">
  <a href="">
    <img src="assets/images/logo.png" alt="(small-logo)">
  </a>
  <div id="footer-info">
    <p>Site design / logo © created by</p>
    <p>Mykhaylo Matviykiv. 2023.</p>
  </div>
</div>

