#liked-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card{
  width: 200px;
  height: 300px;
}

.poke-card a {
  color: #2e2aa4;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-img {
  width: 165px;
  height: auto;
}

.like {
  height: 20px;
  margin: 0 0 0 5px;
}

.like-button {
  font-family: Papyrus, serif;
  display: none;
  align-items: center;
  background-color: #f8da49;
  border-radius: 3px;
}

.poke-card:hover {
  background-color: #ce7b7b;
  border: 5px solid #2e2aa4;
  margin: 4px;
}

.poke-card:hover button {
  display: flex;
}



