<div id="home-info">
  <h3>Hello, this is my test task for Appexoft «Junior JavaScript(Angular) developer» position. Let's go through my web
    application and see what I have here!</h3>
  <h3>There are 5 endppoints:</h3>
  <ul>
    <li><h4><u>Home</u> - (you are here).This is starting page with some helping info.</h4></li>
    <li><h4><u>Pokédex</u> - this is list of pokemons. We need to send a GET request to
      'https://pokeapi.co/api/v2/pokemon', collect and process data.</h4></li>
    <li><h4><u>Liked</u> - you can like any pokemons and have your own list of pokemons which you like.</h4></li>
    <li><h4><u>Contacts</u> - actually I just wanted nav-bar with 4 buttons, that why I add Contact endpoint) this is my
      personal info(I'm Mykhaylo-nice to meet you).</h4></li>
    <li><h4><u>Pokemon detail</u> - you can visit pokemon detail page with all info about this pokemon.</h4></li>
  </ul>
  <h3>Hope you will appreciate my work...</h3>
</div>
